.new-task {
  display: flex;
  justify-content: center;
  padding: 15px;

  &__input {
    @extend %input;
    flex-grow: 2;

    @media #{map-get($configs, 'mobile')} {
      margin-bottom: 10px;
    }
  }

  @media #{map-get($configs, 'mobile')} {
    flex-direction: column;
  }
}